

.container
    - @jobs.each do |job|

            

        .card
            .card-body
                %h2= link_to job.title, job_path(job)
                %p.card-text= job.description
                %p.card-text= job.company
                %p.card-text= job.url
        %br
